<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Create Account</title>
</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2>CREATE ACCOUNT</h2>
    <form action="/auth/register" method="POST">
        <div class="input">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" required>
        </div>

        <div class="input">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required>
        </div>

        <div class="input">
            <label for="confirmPassword">Confirm Password: </label>
            <input type="password" name="confirmPassword" id="confirmPassword" required>
        </div>

        <button type="submit">Create Account</button>

    </form>
</body>
<br>
<br>
<footer><img src="//i.imgur.com/XqlWolf.png" class="banner-icon" alt="white image of alien with bald head"></footer>

</html>