<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/auth.css">
    <title>Sign In</title>
</head>

<body>
    <h2>SIGN IN</h2>
    <form action="/auth/signin" method="POST">
        <div class="input">
            <label for="username">Username: </label>
            <input type="text" name="username" id="username" required>
        </div>

        <div class="input">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required>
        </div>

        <button type="submit">Sign In</button>

    </form>
</body>

<footer><img src="//i.imgur.com/XqlWolf.png" class="banner-icon" alt="white image of alien with bald head"></footer>

</html>