@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shippori+Mincho&display=swap');

body {
    font-family: Shippori, sans-serif;
    background-color: rgb(240, 3, 3);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

h1,
h3 {
    font-weight: lighter;
}

h3 {
    font-style: italic;
}

.main-content {
    flex: 1;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
}

footer img {
    width: 100px;
    height: auto;
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

.banner {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: relative;
}

.banner-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.banner-image {
    width: 400px;
    height: auto;
}

.banner-content h1 {
    font-size: 2.5em;
    margin: 0;
    font-weight: 100px;
}

.banner-content2 a {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 1.2em;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.painting-card {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 10px 30px rgb(255, 120, 172);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.painting-card img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.painting-card p {
    margin: 10px 0;
}

.painting-card a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px;
    display: inline-block;
}

.painting-card a:hover {
    text-decoration: underline;
    color: rgb(255, 0, 183);
}

.painting-card button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px, 20px;
    margin-top: 20px;
    font-size: 1em;
    font-style: italic;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.painting-card button:hover {
    background-color: rgb(255, 0, 183);
}

.piece-item {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 280px;
    text-align: center;
    box-shadow: 0 10px 30px rgb(255, 120, 172);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
}

.piece-item a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.piece-item a:hover {
    text-decoration: underline;
}

.piece-item h3,
.piece-item p {
    position: relative;
    z-index: 1;
}

.empty-gallery {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: orange;
}

.add-painting-btn {
    color: rgb(255, 248, 248);
    background-color: rgb(255, 129, 61);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-style: italic;
    margin-top: 20px;
    border: 2px solid white;
    transition: background-color 0.5s;
}

.index-please {
    font-style: italic;
}

.add-painting-btn:hover {
    background-color: rgb(255, 0, 183);
    color: antiquewhite;
}

.log-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.1em;
}

.log-links a:hover {
    text-decoration: underline;
    color: rgb(237, 242, 238);
}

.log-out-link a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.1em;
}

.log-out-link a:hover {
    text-decoration: underline;
    color: rgb(237, 242, 238);
}

.log-container {
    display: flex;
    justify-content: flex-end;
    /* position: absolute;
    top: 20px;
    right: 15px; */
    padding: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.painting-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.top-border {
    background-color: black;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.show-banner {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    text-align: center;
    position: relative;
    width: 100%;
}

.show-banner h1 {
    font-size: 2.5em;
    margin: 0;
    font-style: italic;
}

.show-banner-content {
    padding: 10px;
}

.show-log-container {
    position: relative;
    top: 20px;
    right: 20px;
}

.home-banner {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    text-align: center;
    position: relative;
    width: 100%;
}

.home-banner h1 {
    font-size: 2.5em;
    margin: 0;
    font-style: italic;
}

.home-banner-content {
    padding: 10px;
}

.home-log-container {
    position: relative;
    top: 20px;
    right: 20px;
}

.painting-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.painting-options a,
.painting-options button {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

.painting-options a:hover {
    text-decoration: underline;
    color: rgb(255, 0, 183);
}

.painting-options button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    font-style: italic;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.painting-options button:hover {
    background-color: rgb(255, 0, 183);
}

.painting-options form {
    margin: 0;
    padding: 0;
}

form {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

#edit-form {
    background-color: rgb(252, 119, 168);
    color: black;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 0px 30px 0px rgb(255, 161, 177);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

#new-painting {
    background-color: rgb(252, 119, 168);
    color: black;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 0px 30px 0px rgb(255, 161, 177);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 5px;
}

.edit-banner {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    text-align: center;
    position: relative;
    width: 100%;
}

.edit-banner-content {
    padding: 10px;
}

.edit-banner h1 {
    font-size: 2.5em;
    margin: 0;
    font-style: italic;
}

.edit-log-container {
    position: relative;
    top: 20px;
    right: 20px;
}

.add-banner {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    text-align: center;
    position: relative;
    width: 100%;
}

.add-banner-content {
    padding: 10px;
}

.add-banner h1 {
    font-size: 2.5em;
    margin: 0;
    font-style: italic;
}

.add-log-container {
    position: relative;
    top: 20px;
    right: 20px;
}

.save-button {
    padding: 15px;
    border: none;
    background-color: rgb(255, 129, 61);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-style: italic;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color 0.5s;
}

.save-button:hover {
    background-color: rgb(255, 0, 183);
    color: antiquewhite;
}

.add-button {
    padding: 15px;
    border: none;
    background-color: rgb(255, 129, 61);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-style: italic;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color 0.5s;
}

.add-button:hover {
    background-color: rgb(255, 0, 183);
    color: antiquewhite;
}

.log-container {
    justify-content:
}

@media screen and (max-width: 1214px) {
    .banner-content {
        flex-direction: column;
        border: 2px dashed red;
    }
}

@media screen and (max-width: 444px) {
    .banner-image {
        width: 300px;
    }
}