<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Add Painting to Gallery</title>
</head>

<body>
    <nav>
        <a href="/users/<%= userId %>">MAIN GALLERY</a>
        <a href="/auth/logout">Log Out</a>
    </nav>
    
    <h1>ADD PAINTING TO GALLERY</h1>

    <form action="/users/<%= userId %>/pieces" method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" required>

        <label for="description">Description</label>
        <input type="text" name="description" id="description" required>

        <label for="price">Price</label>
        <input type="text" name="price" id="price" required>

        <button type="submit">Upload Painting</button>
    </form>
</body>

</html>