<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Add Painting to Gallery</title>
</head>

<body>
    <header class="add-banner">
        <div class="add-banner-content">
            <h1>Add Painting</h1>
        </div>
        <div class="add-log-container">
            <p class="log-out-link">
                <a href="/auth/logout">Log Out</a>
            </p>
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form id="new-painting" action="/users/<%= userId %>/pieces" method="POST" enctype="multipart/form-data">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" required>
        </div>
        <br>
        <div>
            <label for="description">Description</label>
            <input type="text" name="description" id="description" required>
        </div>
        <br>
        <div>
            <label for="price">Price</label>
            <input type="text" name="price" id="price" required>
        </div>
        <br>
        <div>
            <label for="image">Painting image:</label>
            <input type="file" name="image" id="image" accept="image/*" />
        </div>
        <br>
        <button type="submit" class="add-button">Add Painting</button>
        <br>
        <br>
        <a href="/users/<%= userId %>">Back to main gallery</a>
    </form>
</body>

<footer><img src="//i.imgur.com/XqlWolf.png" class="banner-icon" alt="white image of alien with bald head"></footer>

</html>